version: "3.9"

services:
  api:
    build: .
    container_name: fastapi_app
    command: uvicorn app:app --host 0.0.0.0 --port 8000 --reload
    env_file:
      - .env
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    ports : 
      - "8000:8000"
    depends_on:
      - db
      - rabbitmq
      - redis
    networks:
      - backend

  celery:
    build: .
    container_name: celery_worker
    command: celery -A app.utils.tasks worker --loglevel=info -c 4 --pool=prefork --autoscale=4,2
    env_file:
      - .env
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    depends_on:
      - rabbitmq
      - redis
      - db
    networks:
      - backend

  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "15672:15672"
    networks:
      - backend

  redis:
    image: redis:7
    container_name: redis
    networks:
      - backend

volumes:
  postgres_data:

networks:
  backend:

