version: "3.9"

services:
  api:
    build: .
    container_name: fastapi_app
    command: uvicorn app:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
      - rabbitmq
      - redis
    networks:
      - backend

  celery:
    build: .
    container_name: celery_worker
    command: celery -A app.utils.tasks worker --loglevel=info
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - rabbitmq
      - redis
      - db
    networks:
      - backend

  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "15672:15672"
    networks:
      - backend

  redis:
    image: redis:7
    container_name: redis
    networks:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    networks:
      - backend

volumes:
  postgres_data:

networks:
  backend:

